<h1>Edit Your Profile</h1>

<%= form_tag "/profiles/#{@profile.id}", method: :patch do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name, @profile.first_name %>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name, @profile.last_name %>
  </div>  
  <div>
    <%= label_tag :height %>
    <%= text_field_tag :height, @profile.height %>
  </div>  
  <div>
    <%= label_tag :position %>
    <%= text_field_tag :position, @profile.position %>
  </div>
  <div>
    <%= label_tag :experience %>
    <%= text_field_tag :experience, @profile.experience %>
  </div>
  <%= submit_tag "Edit Your Profile" %>

<% end %>