<h1>Create Your Profile</h1>

<%= form_tag '/profiles', method: :post do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name %>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name %>
  </div>  
  <div>
    <%= label_tag :height %>
    <%= text_field_tag :height %>
  </div>  
  <div>
    <%= label_tag :position %>
    <%= text_field_tag :position %>
  </div>
  <div>
    <%= label_tag :experience %>
    <%= text_field_tag :experience %>
  </div>
  <%= submit_tag "Create Your Profile" %>

<% end %>