<% if @profile.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being created</h2>
 
    <ul>
    <% @profile.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_tag '/profiles', multipart: true, method: :post do %>
<h1 class="create-game">Create Profile</h1>
<br>
<div class ="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title"><%= label_tag :first_name %></h3>
      </div>
        <div class="panel-body">
        <%= text_field_tag :first_name, nil, class: "fulllength" %>
        </div>
    </div>
  </div>

  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title"><%= label_tag :last_name %></h3>
      </div>
        <div class="panel-body">
          <%= text_field_tag :last_name, nil, class: "fulllength" %>
        </div>
    </div>
  </div>  

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title">Height</h3>
      </div>
        <div class="panel-body">
          <%= select_tag(:height, options_for_select([['5'], ['5'+"'1"], ['5'+"'2"], ['5'+"'3"], ['5'+"'4"], ['5'+"'5"], ['5'+"'6"], ['5'+"'7"], ['5'+"'8"], ['5'+"'9"], ['5'+"'10"], ['5'+"'11"], ['6'], ['6'+"'1"], ['6'+"'2"], ['6'+"'3"], ['6'+"'4"], ['6'+"'5"], ['6'+"'6"], ['6'+"'7"], ['6'+"'8"], ['6'+"'9"], ['6'+"'10"], ['6'+"'11"], ['7'], ['7'+"'1"], ['7'+"'2"], ['7'+"'3"], ['7'+"'4"], ['7'+"'5"], ['7'+"'6"], ['7'+"'7"], ['7'+"'8"], ['7'+"'9"], ['7'+"'10"], ['7'+"'11"], ['8']], selected: :height )) %>
        </div>
      </div> 
    </div> 

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title">Position</h3>
      </div>
        <div class="panel-body">
          <%= select_tag(:position, options_for_select([['PG'], ['SG'], ['SF'], ['PF'], ['C']], selected: :position )) %>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title">Experience</h3>
      </div>
        <div class="panel-body">
          <%= select_tag(:experience, options_for_select([['None'], ['Recreational'], ['High School'], ['College'], ['Pro']], selected: :experience )) %>
      </div>
    </div>
  </div>

  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title">Photo</h3>
      </div>
        <div class="panel-body">
          <%= file_field_tag :image %>
      </div>
    </div>
  </div>


    <div class="submit-button">
      <%= submit_tag "Create Profile" %>
    </div>
</div>

<% end %>