<h1>Create Your Profile</h1>

<%= form_tag '/profiles', method: :post do %>
  <div>
    <%= label_tag :first_name %>
    <%= text_field_tag :first_name %>
  </div>
  <div>
    <%= label_tag :last_name %>
    <%= text_field_tag :last_name %>
  </div>  
  <div>
    <%= label_tag :height %>
    <%= text_field_tag :height %>
  </div>  
  <div>
  <h4>Position: <%= select_tag(:position, options_for_select([['PG'], ['SG'], ['SF'], ['PF'], ['C']], selected: :position )) %></h4>
  </div>
  <div>
    <%= label_tag :experience %>
    <%= text_field_tag :experience %>
  </div>
  <%= submit_tag "Create Your Profile" %>

<% end %>