
  <div class="col-md-6">
    <h1 class="profile">My Profile</h1>
    <ul class="list-group" >
      <li class="list-group-item"><h4>First Name: <%= @profile.first_name %></h4></li>
      <li class="list-group-item"><h4>Last Name: <%= @profile.last_name %></h4></li>
      <li class="list-group-item"><h4>Height: <%= @profile.height %></h4></li>
      <li class="list-group-item"><h4>Position: <%= @profile.position %></h4></li>
      <li class="list-group-item"><h4>Experience: <%= @profile.experience %></h4></li>
    </ul>
  </div>

<div class="col-md-6">
<h1 class="joinedgames">Joined Games</h1>
  <table class="profiletable" border="1">
  <th>Title</th>
  <th>Status</th>
      <tr>
        <% @joinedgames.each do |joinedgame| %>
        <% Game.where("id = #{joinedgame.game_id} AND end_time > ?", Time.now).each do |game| %>
        <td><%= link_to game.title, "/games/#{game.id}" %></td>
        <td><%= game.status %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
</div>

<div class="col-md-12">
  <div class="profilebutton">
<% if user_signed_in? && current_user.id == @profile.user_id %>
<button type="button" class="btn btn-default"><%= link_to "Edit Profile", "/profiles/#{@profile.id}/edit" %></button>
<button type="button" class="btn btn-default"><%= link_to "Delete Profile", "/profiles/#{@profile.id}", method: :delete %></button>
<% end %>
  </div>
</div>
