
  <h2>First Name: <%= @profile.first_name %></h2>
  <h2>Last Name: <%= @profile.last_name %></h2>
  <h2>Height: <%= @profile.height %></h2>
  <h2>Position: <%= @profile.position %></h2>
  <h2>Experience: <%= @profile.experience %></h2>

<% if user_signed_in? && current_user.id == @profile.user_id %>
<%= link_to "Edit Profile", "/profiles/#{@profile.id}/edit" %>
<br>
<%= link_to "Delete Profile", "/profiles/#{@profile.id}", method: :delete %>
<% end %>

<h1>Joined Games</h1>
<% @joinedgames.each do |joinedgame| %>
  <% Game.where(id: joinedgame.game_id).each do |game| %>
    <h2>Title: <%= link_to game.title, "/games/#{game.id}" %></h2>
  <% end %>
<% end %>