<% if @game.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being edited</h2>
 
    <ul>
    <% @game.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>


<%= form_tag "/games/#{@game.id}", method: :patch do %>
<h1 class="create-game">Edit Game</h1>
<div class ="row">
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title"><%= label_tag :title %></h3>
      </div>
        <div class="panel-body">
          <%= text_field_tag :title, @game.title, class: "fulllength" %>
        </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title"><%= label_tag :address %></h3>
      </div>
        <div class="panel-body">
          <%= text_field_tag :address, @game.address, class: "fulllength" %>
        </div>
    </div>  

    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title">Start Time</h3>
      </div>
        <div class="panel-body">
          <%= datetime_local_field :game, :start_time %>
      </div>
    </div>  
  </div>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title"><%= label_tag :players_allowed %></h3>
      </div>
        <div class="panel-body">
          <%= text_field_tag :players_allowed, @game.players_allowed %>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title"><%= label_tag :description %></h3>
      </div>
        <div class="panel-body">
          <%= text_field_tag :description, @game.description, class: "fulllength" %>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading" id="create-update-game">
        <h3 class="panel-title">End Time</h3>
      </div>
        <div class="panel-body">
          <%= datetime_local_field :game, :end_time %>
      </div>
    </div>
  </div>


    <div class="submit-button">
      <%= submit_tag "Edit Game" %>
    </div>
</div>

<% end %>