<h1>Create a new game</h1>

<%= form_tag '/games', method: :post do %>
  <div>
    <%= label_tag :title %>
    <%= text_field_tag :title %>
  </div>
  <div>
    <%= label_tag :address %>
    <%= text_field_tag :address %>
  </div>  
  <div>
    Start Time: <%= datetime_local_field :game, :start_time %>
  </div>  
  <div>
    End Time: <%= datetime_local_field :game, :end_time %>
  </div>
  <div>
    <%= label_tag :players_allowed %>
    <%= text_field_tag :players_allowed %>
  </div>
  <div>
    <%= label_tag :description %>
    <%= text_field_tag :description %>
  </div>
  <%= submit_tag "Create a game" %>

<% end %>
