
  <div class="col-md-6">
    <h1 class="profile">Game Information</h1>
    <ul class="list-group" >
      <li class="list-group-item"><h5>Title: <%= @game.title %></h5></li>
      <li class="list-group-item"><h5>Address: <%= @game.address %></h5></li>
      <li class="list-group-item"><h5>Start Time: <%= @game.start_time.strftime("%b %e %l:%M%p")  %></h5></li>
      <li class="list-group-item"><h5>End Time: <%= @game.end_time.strftime("%b %e%l:%M%p")  %></h5></li>
      <li class="list-group-item"><h5>Players Joined: <%= @game.players_joined %> of <%= @game.players_allowed %></h5></li>
      <li class="list-group-item"><h5>Description: <%= @game.description %></h5></li>
    </ul>
  </div>

<div class="col-md-6">
<h1 class="joinedplayers">Players</h1>
  <table class="joinedplayerstable" border="1">
  <th>Name</th>
  <th>Height</th>
  <th>Position</th>
  <th>Experience</th>
      <tr>
        <% @joinedusers.each do |joineduser| %>
        <% Profile.where(user_id: joineduser.user_id).each do |player| %>
        <td><%= link_to player.first_name, "/profiles/#{player.id}" %></td>
        <td><%= player.height %></td>
        <td><%= player.position %></td>
        <td><%= player.experience %></td>
      </tr>
      <% end %>
    <% end %>
  </table>
  </div>

  <div>
    <iframe
    width="600"
    height="450"
    frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAUx2rd-iiFODbyxZumrl1VU9FRHtU1lW0
      &q=<%= @game.address %>" allowfullscreen>
    </iframe>
  </div>

<% if user_signed_in? && GamedUser.where("game_id = ? AND user_id = ?",@game.id, current_user.id).first == nil && @game.status != "full" %>
<%= form_tag '/gamed_users', method: :post do %>
  <div>
    <%= hidden_field_tag :game_id, @game.id %>
  </div>
<%= submit_tag "Join Game" %>
<% end %>
<% end %>

<% if user_signed_in? && GamedUser.where("game_id = ? AND user_id = ?",@game.id, current_user.id).first != nil %>
<%= link_to "Leave Game", "/gamed_users/#{GamedUser.where("game_id = ? AND user_id = ?",@game.id, current_user.id).first.id}", method: :delete %>
<% end %>

<% if user_signed_in? && current_user.id == @game.user_id %>
<%= link_to "Edit Game", "/games/#{@game.id}/edit" %>
<br>
<%= link_to "Delete Game", "/games/#{@game.id}", method: :delete %>
<% end %>


