
  <h2>Title: <%= @game.title %></h2>
  <h2>Address: <%= @game.address %></h2>
  <h2>Players Joined: <%= @game.players_joined %></h2>
  <h2>Start Time: <%= @game.start_time %></h2>
  <h2>End Time: <%= @game.end_time %></h2>
  <h2>Description: <%= @game.description %></h2>

<% if user_signed_in? && current_user.id == @game.user_id %>
<%= link_to "Edit Game", "/games/#{@game.id}/edit" %>
<br>
<%= link_to "Delete Game", "/games/#{@game.id}", method: :delete %>
<% end %>