<!DOCTYPE html>
<html>
<head>
  <title>Next</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
<div ng-app="app">
    <div ng-controller="gamesCtrl" ng-init="setup()">
       <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="/">
                        Next
                    </a>
                </li>
                <li>
                    <a><%= link_to "Sign Up", "/users/sign_up" if not current_user %></a>
                </li>
                <li>
                    <a><%= link_to "Sign In", "/users/sign_in" if not current_user %></a>
                </li>
                <li>
                    <a><%= link_to "Sign Out", "/users/sign_out", method: :delete if current_user %></a>
                </li>
                <li>
                    <a><%= link_to "Create a Game", "/games/new" if user_signed_in? %></a>
                </li>
                <li>
                    <a><% if user_signed_in? && Profile.find_by(user_id: current_user.id) == nil %>
                        <%= link_to "Create Profile", "/profiles/new" %>
                        <% end %></a>
                </li>
                <li>
                    <a><% if user_signed_in? && Profile.find_by(user_id: current_user.id) != nil %>
                        <%= link_to "My Profile", "/profiles/#{Profile.find_by(user_id: current_user.id).id}" %>
                        <% end %></a>
                </li>
            </ul>
                <div class="jumbotron" style="color: black;" ng-if="gameinfo"><h4>{{gameinfo}}</h4></div>
         </div>
        <!-- /#sidebar-wrapper -->
        <!-- Page Content -->
        <div id="page-content-wrapper">
<% flash.each do |name, message| %>
<div class="alert alert-<%= name %> alert-dismissible" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <%= message %>
</div>
<% end %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <%= yield %>
<!--                         <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">Toggle Menu</a> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

      </div>

    </div>
</div>

    <!-- /#wrapper -->

    <!-- Menu Toggle Script -->
    // <script>
    // $("#menu-toggle").click(function(e) {
    //     e.preventDefault();
    //     $("#wrapper").toggleClass("toggled");
    // });
    // </script>


</body>

</html>
