<!DOCTYPE html>
<html>
<head>
  <title>Next</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="wrapper">
<div ng-app="app">
    <div ng-controller="gamesCtrl" ng-init="setup()">

       <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <a href="/">
                    <img class="logo" style="width: 260px" src="https://s3-us-west-2.amazonaws.com/giselle-misc/Capstone/student-logos/4.png"
                </a>
                <li class="sidebar-brand">
   
                </li>
                <li>
                    <a><%= link_to "Sign Up", "/users/sign_up" if not current_user %></a>
                </li>
                <li>
                    <a><%= link_to "Sign In", "/users/sign_in" if not current_user %></a>
                </li>
                <li>
                    <a><%= link_to "Sign Out", "/users/sign_out", method: :delete if current_user %></a>
                </li>
                <li>
                    <a><%= link_to "Create a Game", "/games/new" if user_signed_in? %></a>
                </li>
                <li>
                    <a><% if user_signed_in? && Profile.find_by(user_id: current_user.id) == nil %>
                        <%= link_to "Create Profile", "/profiles/new" %>
                        <% end %></a>
                </li>
                <li>
                    <a><% if user_signed_in? && Profile.find_by(user_id: current_user.id) != nil %>
                        <%= link_to "My Profile", "/profiles/#{Profile.find_by(user_id: current_user.id).id}" %>
                        <% end %></a>
                </li>
            </ul>

                <div class="list-group" ng-if="gameinfo" id="clickgameinfo">
                    <a href="/games/{{gameinfo.id}}" class="list-group-item disabled"><h4>{{gameinfo.title}}</h4></a>
                    <a class="list-group-item">{{gameinfo.address}}</a>
                    <a class="list-group-item">{{gameinfo.start_time}}</a>
                    <a class="list-group-item">Spots Left: {{gameinfo.spots_left}}</a>
                </div>
         </div>
        <!-- /#sidebar-wrapper -->       <!-- Page Content -->
<div id="page-content-wrapper">
    <% flash.each do |name, message| %>
    <div class="alert alert-<%= name %> alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
    </div>
    <% end %>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <%= yield %>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

      </div>

    </div>
</div>
</body>

</html>
